<!DOCTYPE html>
<html>
<head>
    <title>AutoReport</title>
</head>
<body>

<h1>{{ title }}</h1>
<p>Author: {{ author}}</p>

<h2>Dataset Preview</h2>

{{ table | safe }}

<h2>Charts</h2>

<img src="charts/bar_chart.png" width="500"><br><br>
<img src="charts/line_chart.png" width="500"><br><br>
<img src="charts/pie_chart.png" width="500"><br><br>
<img src="charts/scatter_chart.png" width="500"><br><br>
<img src="charts/heatmap_chart.png" width="500"><br><br>
<img src="charts/trend_chart.png" width="500">

<h2>Revenue by Product</h2>

<img src="charts/revenue_chart.png" width="500">

</body>
</html>